{% extends "site_base.html" %}

{% load i18n %}
{% load ifsetting_tag %}

{% block head_title %}{% trans "OKT Home" %}{% endblock %}

{% block tab_id %}id="home_tab"{% endblock %}

{% block body %}
    
    <h1>{% trans "Welcome to Open Knowledge Tools" %}</h1>
    
    <p>
        {% blocktrans %}
        <b>OKT</b> is a <a href="http://pinaxproject.com/">Pinax</a>
        project.
        {% endblocktrans %}
    </p>
    
    <p>
        {% blocktrans %}
        Peace and prosperity to you.
        {% endblocktrans %}
    </p>
    
    <h2>{% trans "About OKT" %}</h2>
    
    <p>
        {% blocktrans %}
        OKT is open. knowledge. tools.
        {% endblocktrans %}
    </p>
    
    <hr />
    {% if user.is_authenticated %}
        {% url what_next as what_next_url %}
        <p class="what_next">{% blocktrans %}Wondering <a href="{{ what_next_url }}">What Next</a>?{% endblocktrans %}</p>
    {% else %}
        {% url acct_login as login_url %}
        {% ifsetting ACCOUNT_OPEN_SIGNUP %}
            {% url acct_signup as signup_url %}
            <p>{% blocktrans %}You can <a href="{{ signup_url }}">Sign up</a> and <a href="{{ login_url }}">Log in</a> to try out the site.{% endblocktrans %}</p>
        {% else %}
            <p>{% blocktrans %}You can <a href="{{ login_url }}">Log in</a> to try out the site.{% endblocktrans %}</p>
        {% endifsetting %}
    {% endif %}
    
{% endblock %}
